<?xml version="1.0"?>
<allocations>
  <queue name="root">
    <weight>1.0</weight>
    <schedulingPolicy>drf</schedulingPolicy>
    <aclSubmitApps> </aclSubmitApps>
    <aclAdministerApps>*</aclAdministerApps>
    {% for queue in yarn_fair_scheduler_options %}
      <queue name="{{ queue.name }}">
        <weight>{{ queue.weight }}</weight>
          <schedulingPolicy>{{ queue.schedulingPolicy }}</schedulingPolicy>
          <aclSubmitApps>{{ queue.aclSubmitApps }}</aclSubmitApps>
          <aclAdministerApps>{{ queue.aclAdministerApps }}</aclAdministerApps>
      </queue>
    {% endfor %}
    </queue>
    <defaultQueueSchedulingPolicy>drf</defaultQueueSchedulingPolicy>
    <queuePlacementPolicy>
      <rule name="specified" create="true"/>
      <rule name="nestedUserQueue" create="true">
         <rule name="default" create="true" queue="users"/>
      </rule>
    </queuePlacementPolicy>
</allocations>