#!/bin/bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

export JAVA_HOME="$(dirname $(dirname $(readlink -f $(which javac))))"

#On secure datanodes, user to run the datanode as after dropping privileges
export HADOOP_SECURE_DN_USER=
#The export HADOOP_SECURE_DN_USER=hdfs line enables the legacy security configuration,
#and must be set to an empty value in order for SASL to be enabled.

# Hadoop
export HADOOP_HOME={{ stack_root }}/hadoop-latest
export HADOOP_CONF_DIR={{ hadoop_etc_dir }}
export HTTPFS_CONF_DIR={{ hadoop_etc_dir }}
export HADOOP_LOG_DIR={{ hadoop_log_dir }}
# make sure to have the latest/active hadoop version at the start of the path to rpevent accidentally
# using older hadoop version when upgrading.
export PATH={{ stack_root }}/hadoop-latest/bin:{{ stack_root }}/hadoop-latest/sbin:$PATH

export HADOOP_LIBEXEC_DIR="$HADOOP_HOME/libexec/"

# Extra Java runtime options for all Hadoop commands. We don't support
# IPv6 yet/still, so by default the preference is set to IPv4.
# mitigation for: CVE-2021-44228 (Log4jShell)
# see: https://logging.apache.org/log4j/2.x/security.html
# make sure to also add native libs
export HADOOP_OPTS="-Dlog4j2.formatMsgNoLookups=true -Djava.net.preferIPv4Stack=true -Djava.library.path=$HADOOP_HOME/lib/native"

# For Kerberos debugging, an extended option set logs more information
# export HADOOP_OPTS="-Djava.net.preferIPv4Stack=true -Dsun.security.krb5.debug=true -Dsun.security.spnego.debug"

# Some parts of the shell code may do special things dependent upon
# the operating system.  We have to set this here. See the next
# section as to why....
export HADOOP_OS_TYPE=${HADOOP_OS_TYPE:-$(uname -s)}

# Extra Java runtime options for some Hadoop commands
# and clients (i.e., hdfs dfs -blah).  These get appended to HADOOP_OPTS for
# such commands.  In most cases, # this should be left empty and
# let users supply it on the command line.
export HADOOP_CLIENT_OPTS="-Xms{{ hadoop_heap.client }} -Xmx{{ hadoop_heap.client }}"

# Specify the JVM options to be used when starting the NameNode.
# These options will be appended to the options specified as HADOOP_OPTS
# and therefore may override any similar flags set in HADOOP_OPTS
#
# a) Set JMX options
# export HDFS_NAMENODE_OPTS="-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.port=1026"
#
# b) Set garbage collection logs
# export HDFS_NAMENODE_OPTS="${HADOOP_GC_SETTINGS} -Xloggc:${HADOOP_LOG_DIR}/gc-rm.log-$(date +'%Y%m%d%H%M')"
#
# c) ... or set them directly
# export HDFS_NAMENODE_OPTS="-verbose:gc -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+PrintGCDateStamps -Xloggc:${HADOOP_LOG_DIR}/gc-rm.log-$(date +'%Y%m%d%H%M')"

# this is the default:
# export HDFS_NAMENODE_OPTS="-Dhadoop.security.logger=INFO,RFAS"
HDFS_NAMENODE_OPTS="-Xms{{ hadoop_heap.namenode }} -Xmx{{ hadoop_heap.namenode }}"
HDFS_NAMENODE_OPTS+=" -Djava.security.auth.login.config=$HADOOP_CONF_DIR/solr-jaas.conf" 
HDFS_NAMENODE_OPTS+=" -javaagent:$HADOOP_HOME/lib/prometheus-exporter-latest.jar={{ hadoop_prometheus_port.hdfs_namenode }}:{{ hadoop_etc_dir }}/prometheus-config.yml" 
export HDFS_NAMENODE_OPTS

###
# SecondaryNameNode specific parameters
###
# Specify the JVM options to be used when starting the SecondaryNameNode.
# These options will be appended to the options specified as HADOOP_OPTS
# and therefore may override any similar flags set in HADOOP_OPTS
#
# This is the default:
# export HDFS_SECONDARYNAMENODE_OPTS="-Dhadoop.security.logger=INFO,RFAS"
export HDFS_SECONDARYNAMENODE_OPTS="$HDFS_NAMENODE_OPTS"
###
# DataNode specific parameters
###
# Specify the JVM options to be used when starting the DataNode.
# These options will be appended to the options specified as HADOOP_OPTS
# and therefore may override any similar flags set in HADOOP_OPTS
#
# This is the default:
# export HDFS_DATANODE_OPTS="-Dhadoop.security.logger=ERROR,RFAS"
HDFS_DATANODE_OPTS="-Xms{{ hadoop_heap.datanode }} -Xmx{{ hadoop_heap.datanode }}"
HDFS_DATANODE_OPTS+=" -javaagent:$HADOOP_HOME/lib/prometheus-exporter-latest.jar={{ hadoop_prometheus_port.hdfs_datanode }}:{{ hadoop_etc_dir }}/prometheus-config.yml" 
export HDFS_DATANODE_OPTS

###
# ZKFailoverController specific parameters
###
# Specify the JVM options to be used when starting the ZKFailoverController.
# These options will be appended to the options specified as HADOOP_OPTS
# and therefore may override any similar flags set in HADOOP_OPTS
#
export HDFS_ZKFC_OPTS="-Xms{{ hadoop_heap.failover_controller }} -Xmx{{ hadoop_heap.failover_controller }}"

###
# QuorumJournalNode specific parameters
###
# Specify the JVM options to be used when starting the QuorumJournalNode.
# These options will be appended to the options specified as HADOOP_OPTS
# and therefore may override any similar flags set in HADOOP_OPTS
#
HDFS_JOURNALNODE_OPTS="-Xms{{ hadoop_heap.journalnode }} -Xmx{{ hadoop_heap.journalnode }}"
HDFS_JOURNALNODE_OPTS+=" -javaagent:$HADOOP_HOME/lib/prometheus-exporter-latest.jar={{ hadoop_prometheus_port.hdfs_journalnode }}:{{ hadoop_etc_dir }}/prometheus-config.yml" 
export HDFS_JOURNALNODE_OPTS

