#!/bin/bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

TMP_DIR="/tmp/hive/"

source {{ hadoop_etc_dir }}/hadoop-env.sh
kinit -kt {{ hadoop_etc_dir }}/hdfs.keytab hdfs/{{ inventory_hostname }}@{{ kerberos_realm }}

hdfs dfs -test -d $TMP_DIR

if [ $? != 0 ]; then
    echo "Hive tmp directory $TMP_DIR does not exist yet, create now"
    
    hdfs dfs -mkdir -p $TMP_DIR && \
    hdfs dfs -chown -R {{ hive_os_user }}:{{ hive_os_group }} $TMP_DIR && \
    hdfs dfs -chmod -R 777 $TMP_DIR
else
    echo "Hive tmp directory $TMP_DIR is present"
fi



