#!/bin/bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

# mitigation for: CVE-2021-44228 (Log4jShell)
# see: https://logging.apache.org/log4j/2.x/security.html

#-Djava.security.auth.login.config={{ ranger_etc_dir }}/ranger-solr-jaas.conf

{% if ansible_distribution == "RedHat" %}
export PATH="/usr/lib/jvm/java/bin:$PATH"
{% endif %}

export RANGER_USER={{ ranger_os_user }}

export JAVA_HOME="$(dirname $(dirname $(readlink -f $(which javac))))"

export JAVA_OPTS="-Djava.security.auth.login.config={{ ranger_etc_dir }}/ranger-jaas.conf -Dlog4j2.formatMsgNoLookups=true -Djava.net.preferIPv4Stack=true"

export RANGER_HADOOP_CONF_DIR={{ ranger_etc_dir }}
export RANGER_JAAS_CONF_DIR={{ ranger_etc_dir }}

export RANGER_ADMIN_LOG_DIR={{ ranger_log_dir }}
export RANGER_ADMIN_LOG4J_CONF_FILE={{ ranger_etc_dir }}/ranger-admin-log4j.properties

#export RANGER_PID_DIR_PATH={{ ranger_log_dir }}
export RANGER_USER={{ ranger_os_user }}


# usersync env

export UNIX_USERSYNC_USER={{ ranger_os_user }}
export USERSYNC_CONF_DIR={{ ranger_etc_dir }}
export RANGER_USERSYNC_HADOOP_CONF_DIR={{ ranger_etc_dir }}
export logdir={{ ranger_log_dir }}