<?xml version='1.0' encoding='UTF-8'?>
<configuration>
  <property>
    <name>ranger.usersync.credstore.filename</name>
    <value>{{ ranger_etc_dir }}/rangerusersync.jceks</value>
  </property>
  <property>
    <name>ranger.usersync.group.memberattributename</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.group.nameattribute</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.group.objectclass</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.group.searchbase</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.group.searchenabled</name>
    <value>true</value>
  </property>
  <property>
    <name>ranger.usersync.group.searchfilter</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.group.searchscope</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.logdir</name>
    <value>{{ ranger_log_dir }}</value>
  </property>
  <property>
    <name>ranger.usersync.pagedresultsenabled</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.pagedresultssize</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.policymanager.baseURL</name>
    <value>https://{{ inventory_hostname }}:{{ ranger_admin_port }}</value>
  </property>
  <property>
    <name>ranger.usersync.policymanager.maxrecordsperapicall</name>
    <value>1000</value>
  </property>
  <property>
    <name>ranger.usersync.sink.impl.class</name>
    <value>org.apache.ranger.unixusersync.process.PolicyMgrUserGroupBuilder</value>
  </property>
  <property>
    <name>ranger.usersync.sleeptimeinmillisbetweensynccycle</name>
    <value>{{ ranger_usersync_interval_min * 60 * 1000 }}</value>
  </property>
  <property>
    <name>ranger.usersync.source.impl.class</name>
    <value>org.apache.ranger.unixusersync.process.UnixUserGroupBuilder</value>
  </property>
  <property>
    <name>ranger.usersync.unix.minGroupId</name>
    <value>{{ ranger_sync_group_uid }}</value>
  </property>
  <property>
    <name>ranger.usersync.sync.source</name>
    <value>unix</value>
  </property>
  <property>
    <name>ranger.usersync.kerberos.principal</name>
    <value>rangerusersync/{{ inventory_hostname }}@{{ kerberos_realm }}</value>
  </property>
  <property>
    <name>ranger.usersync.kerberos.keytab</name>
    <value>{{ ranger_etc_dir }}/rangerusersync.keytab</value>
  </property>
  <property>
    <name>ranger.usersync.role.assignment.list.delimiter</name>
    <value>&amp;</value>
  </property>
  <property>
    <name>ranger.usersync.users.groups.assignment.list.delimiter</name>
    <value>:</value>
  </property>
  <property>
    <name>ranger.usersync.username.groupname.assignment.list.delimiter</name>
    <value>,</value>
  </property>
  <property>
    <name>ranger.usersync.group.based.role.assignment.rules</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.metrics.enabled</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.metrics.filepath</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.metrics.frequencytimeinmillis</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.metrics.filename</name>
    <value/>
  </property>
  <property>
    <name>ranger.usersync.user.searchenabled</name>
    <value>true</value>
  </property>
</configuration>