# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Minio NGINX Load Balancer
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Group=root
ExecStart=docker run -d --rm \
  -p {{ minio_listen_port }}:{{ minio_listen_port }} \
  -v /{{ minio_etc_dir }}/minio-lb-nginx.conf:/etc/nginx/conf.d/minio-lb-nginx.conf \
  --name minio_loadbalancer \
  --hostname minio_loadbalancer \
  nginx:latest
  
ExecStop=docker stop minio_loadbalancer

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target