apiVersion: 1

providers:
  - name: dashboard_provider
    folder: Services
    type: file
    updateIntervalSeconds: 86400
    options:
      path: /etc/grafana/provisioning/dashboards
      foldersFromFilesStructure: true
