# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}


AIRFLOW_PROJ_DIR={{ airflow_data_dir }}/src

AIRFLOW_IMAGE_NAME={{ groups['manager'][0] }}:{{ docker_registry_port }}/airflow/airflow:{{ version.airflow }}
AIRFLOW_UID={{ getent_passwd[airflow_os_user].1 }}

_AIRFLOW_WWW_USER_USERNAME={{ airflow_www_user }}
_AIRFLOW_WWW_USER_PASSWORD={{ airflow_www_password }}

{% for key, value in airflow_additional_cfg.items() %}
AIRFLOW__{{ key| upper }}={{ value }}
{% endfor %}