#!/bin/sh

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

# check to see if database needs upgrade.
jupyterhub -f {{ jupyterhub_etc_dir }}/jupyterhub_config.py upgrade-db

# start
jupyterhub -f {{ jupyterhub_etc_dir }}/jupyterhub_config.py