# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Jupyterhub
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ jupyterhub_os_user }}
Group={{ jupyterhub_os_group }}
Type=exec

# Run container with --network host to allow pysparj driver
# to bind ports and be available for Yarn containers running on cluster
ExecStart={{ stack_root }}/jupyterhub-latest/bin/start-jupyterhub.sh 
ExecStop={{ stack_root }}/jupyterhub-latest/bin/stop-jupyterhub.sh 

[Install]
WantedBy=multi-user.target


