# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Jupyterhub
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ jupyterhub_os_user }}
Group={{ jupyterhub_os_group }}
Type=exec

ExecStart=/usr/bin/docker run --rm --name jupyterhub -p {{ jupyterhub_port }}:8000 \
-v {{ jupyterhub_etc_dir }}:/etc/jupyterhub \
-v {{ jupyterhub_log_dir }}:/var/log/jupyterhub \
-v {{ tls_etc_dir }}:/etc/jupyterhub/tls \
-v /etc/krb5.conf:/etc/krb5.conf {{ groups['manager'][0] }}:{{ docker_registry_port }}/jupyterhub:latest


ExecStop=/usr/bin/docker stop jupyterhub

[Install]
WantedBy=multi-user.target


