jupyterhub=={{ version.jupyterhub }}
jupyterlab=={{ version.jupyterlab }}
notebook
bitarray
six
kerberos
thrift_sasl==0.4.3
thrift==0.16.0
impyla==0.18a4
pyspark=={{ version.spark }}
numpy
scipy
matplotlib
scikit-learn
pandas
sqlalchemy
jupyterhub-kerberosauthenticator
psycopg2-binary
pyarrow
ipywidgets