#!/usr/bin/env bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

docker run --network host \
--rm --name jupyterhub \
--restart=on-failure:10 \
-p {{ jupyterhub_port }}:8000 \
-v {{ config_root }}:{{ config_root }} \
-v {{ jupyterhub_log_dir }}:{{ jupyterhub_log_dir }} \
-v {{ jupyterhub_data_dir }}:/data \
-v {{ stack_root }}:{{ stack_root }} \
-v /etc/krb5.conf:/etc/krb5.conf {{ groups['manager'][0] }}:{{ docker_registry_port }}/jupyterhub:{{ version.jupyterhub }}

