# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=airflow
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User=root
Group=root
Type=exec
ExecStart={{ stack_root }}/airflow-latest/bin/start-airflow.sh
ExecStop={{ stack_root }}/airflow-latest/bin/stop-airflow.sh
[Install]
WantedBy=multi-user.target


