# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Cleanup older Solr data
Wants=solr-cleanup.timer

[Service]
Type=oneshot
ExecStart={{ stack_root }}/apache-solr-latest/bin/solr-clean.sh

[Install]
WantedBy=multi-user.target