#!/usr/bin/env bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

{% if ansible_distribution == "RedHat" %}
KRB_CC_CACHE="/tmp/krb5cc_$UID"
{% else %}
KRB_CC_CACHE="/tmp/krb5cc_$(id -u)"
{% endif %}

docker run --rm \
  --net=host \
  --name "impala_$1" \
{% if ansible_distribution == "RedHat" %}
  -v /var/lib/sss/pubconf/krb5.include.d:/var/lib/sss/pubconf/krb5.include.d \
{% endif %}
  -v /tmp:/tmp \
  -v /etc/krb5.conf:/etc/krb5.conf \
  -v /var/run/hdfs-sockets/dn:/var/run/hdfs-sockets/dn \
  -e KRB5CCNAME:$KRB_CC_CACHE \
  -v {{ impala_etc_dir }}:{{ impala_etc_dir }} \
  -v {{ impala_log_dir }}:{{ impala_log_dir }} \
  -v {{ tls_etc_dir }}:{{ tls_etc_dir }} \
{% for d in impalad_scratch_dirs %}
  -v {{ d.split(':')[0] }}:{{ d.split(':')[0] }} \
{% endfor %}
{% for d in impalad_cache_dirs %}
  -v {{ d }}:{{ d}} \
{% endfor %}
  -v /usr/local/hadoop/hadoop-latest/lib/native:/usr/local/hadoop/hadoop-latest/lib/native \
  {{ groups['manager'][0] }}:{{ docker_registry_port }}/apache/impala:{{ version.impala }} $1


  
