#!/usr/bin/env bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

echo "Starting Impala service: $1"
echo "LD_LIBRARY_PATH: $LD_LIBRARY_PATH"

echo "Impala libs:"
ls -alh {{ stack_root }}/apache-impala-latest/lib/

if [ $1 == "impalad" ]
then
  . {{ impala_etc_dir }}/impala-impalad-env.sh
  {{ stack_root }}/apache-impala-latest/bin/impalad -flagfile {{ impala_etc_dir }}/impalad_flags
elif [ $1 == "statestored" ]
then
  . {{ impala_etc_dir }}/impala-statestored-env.sh
  {{ stack_root }}/apache-impala-latest/bin/statestored -flagfile {{ impala_etc_dir }}/statestored_flags
elif [ $1 == "catalogd" ]
then
  . {{ impala_etc_dir }}/impala-catalogd-env.sh
  {{ stack_root }}/apache-impala-latest/bin/catalogd -flagfile {{ impala_etc_dir }}/catalogd_flags
fi
