#!/usr/bin/env bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

KRB_CC_CACHE=$(echo $KRB5CCNAME | sed  's/FILE://g')

docker run --interactive --tty --rm \
  -e KRB5CCNAME=$KRB_CC_CACHE \
{% if (ansible_distribution == "RedHat" %}
  -v /var/lib/sss/pubconf/krb5.include.d:/var/lib/sss/pubconf/krb5.include.d
{% endif %}
  -v /etc/krb5.conf:/etc/krb5.conf \
  -v $KRB_CC_CACHE:$KRB_CC_CACHE \
  {{ groups['manager'][0] }}:{{ docker_registry_port }}/apache/impala-shell:{{ version.impala }} 
