# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Impala {{ item.name }} 
After=network.target
StartLimitIntervalSec=0

[Service]
{% if item.name == 'impalad' %}
Slice=impala_impalad.slice
{% endif %}
Type=simple
User={{ impala_os_user }}
Group={{ impala_os_group }}
ExecStart=/bin/bash -c 'source {{ impala_etc_dir }}/impala-{{ item.name }}-env.sh; {{ stack_root }}/apache-impala-latest/bin/{{ item.name }} -flagfile {{ impala_etc_dir }}/{{ item.name }}_flags'
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target