# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Impala {{ item.name }} 
After=network.target
StartLimitIntervalSec=0

[Service]
{% if item.name == 'impalad' %}
Slice=impala_impalad.slice
{% endif %}
#Type=simple
User={{ impala_os_user }}
Group={{ impala_os_group }}
ExecStart={{ stack_root }}/apache-impala-latest/bin/impala-start.sh {{ item.name }}

ExecStop=/usr/bin/docker stop impala_{{ item.name }}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target