{
  {% if inventory_hostname in groups['manager'] %}
  "data-root": "{{ docker_data_dir }}",
  {% endif %}
  "ipv6": false,
  "log-opts": {
    "cache-disabled": "false",
    "cache-max-file": "5",
    "cache-max-size": "20m",
    "cache-compress": "true",
    "max-file": "5",
    "max-size": "10m"
  }
}