DATABASE_DB={{ superset_db }}
DATABASE_HOST={{ groups['database'][0] }}
DATABASE_PASSWORD={{ superset_db_password }}
DATABASE_USER={{ superset_db_user }}

# database engine specific environment variables
# change the below if you prefers another database engine
DATABASE_PORT=5432
DATABASE_DIALECT=postgresql
POSTGRES_DB={{ superset_db }}
POSTGRES_USER={{ superset_db_user }}
POSTGRES_PASSWORD={{ superset_db_password }}


