# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Hue
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ hue_os_user }}
Group={{ hue_os_group }}
Type=exec
ExecStart={{ stack_root }}/hue-latest/bin/start-hue.sh
ExecStop=/usr/bin/docker stop hue
[Install]
WantedBy=multi-user.target


