#!/bin/bash

# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

export IMPALA_HOME={{ stack_root }}/apache-impala-latest
export IMPALA_CONF_DIR={{ impala_etc_dir }}
export HADOOP_CONF_DIR={{ hadoop_etc_dir }}
export HIVE_CONF_DIR={{ hive_etc_dir }}
export PATH=$IMPALA_HOME/bin:$PATH

