Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  storeKey=true
  useTicketCache=false
  keyTab="{{ impala_etc_dir }}/impala.keytab"
  principal="impala/{{ inventory_hostname }}@{{ kerberos_realm }}";
};
