# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

# use timer to start Prometheus Impala Proxy Kill unit
# this to make sure the proxy always has a valid keytab

[Unit]
Description=Prometheus Impala Proxy Kill Timer
Requires=prometheus_impala_proxy_kill.service

[Timer]
Unit=prometheus_impala_proxy_kill.service
# run every hour on every day
OnCalendar=*:0/5
#OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target