# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Prometheus Node Exporter
 
[Service]
Type=simple
ExecStart={{ stack_root }}/prometheus-node-exporter-latest/node_exporter \
  --collector.textfile.directory {{ prometheus_etc_dir }} \
  --web.config={{ prometheus_etc_dir }}/prometheus-node-exporter-config.yml
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target


