{
	"created_on": "{{ ansible_date_time.iso8601 }}",
	"changed_on": "{{ ansible_date_time.iso8601 }}",
	"database_name": "Apache Impala",
	"sqlalchemy_uri": "impala://{{ groups['impala_ha_proxy'][0] }}:{{ impala_haproxy.jdbc_port }}/default,
	"created_by_fk": 1,
	"changed_by_fk": 1,
	"password": null,
	"cache_timeout": null,
	"extra": "{\"engine_params\":{\"connect_args\":{\"auth_mechanism\":\"GSSAPI\",\"use_ssl\":true}},\"metadata_params\":{},\"schemas_allowed_for_file_upload\":[]}",
	"select_as_create_table_as": false,
	"allow_ctas": false,
	"expose_in_sqllab": true,
	"force_ctas_schema": null,
	"allow_run_async": false,
	"allow_dml": false,
	"verbose_name": null,
	"impersonate_user": false,
	"allow_multi_schema_metadata_fetch": false,
	"allow_file_upload": false,
	"encrypted_extra": null,
	"server_cert": null,
	"allow_cvas": false,
	"uuid": "b4f8f286-5a7e-49a6-8255-4a337b8173ce",
	"configuration_method": "sqlalchemy_form",
	"is_managed_externally": false,
	"external_url": null
}