# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Superset
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ superset_os_user }}
Group={{ superset_os_group }}
Type=exec

RootDirectory={{ stack_root }}/apache-superset-latest
ExecStart=/usr/bin/docker-compose up

ExecStop=/usr/bin/docker-compose down -v --remove-orphans

[Install]
WantedBy=multi-user.target


