# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{ inventory_hostname }}

[Unit]
Description=Apache Superset
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ superset_os_user }}
Group={{ superset_os_group }}
Type=exec

ExecStart={{ stack_root }}/jupyterhub-latest/bin/start-superset.sh 
ExecStop={{ stack_root }}/jupyterhub-latest/bin/stop-superset.sh 

[Install]
WantedBy=multi-user.target


