# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Apache Superset
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
RestartSec=60
User={{ superset_os_user }}
Group={{ superset_os_group }}
Type=exec

ExecStart=/usr/bin/docker-compose -f {{ stack_root }}/apache-superset-{{ version.superset }}/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f {{ stack_root }}/apache-superset-{{ version.superset }}/docker-compose.yml down -v --remove-orphans

[Install]
WantedBy=multi-user.target


