# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

[Unit]
Description=Start Kerberos keytab renewer script 
Wants=superset-kt-renewer.timer

[Service]
Type=oneshot
ExecStart={{ stack_root }}/apache-superset-latest/bin/superset-kt-renewer.sh

[Install]
WantedBy=multi-user.target