Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  storeKey=true
  useTicketCache=false
  keyTab="/{{ hadoop_etc_dir }}/hdfs.keytab"
  principal="hdfs/{{ inventory_hostname }}@{{ kerberos_realm }}";
};
