# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

scrape_configs:
  - job_name: node_exporter
    scheme: https
    basic_auth:
      username: {{ prometheus_node_exporter_user }}
      password: {{ prometheus_node_exporter_password }}
    static_configs:
    - targets: [{{ groups['all'] | product([ prometheus_node_exporter_port ]) | map('join', ':') | join(',') }}]
  
  - job_name: impala_impalad
    scrape_interval: 10s
    scheme: https
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['impala'] | product([ impala_prometheus_port.impalad ]) | map('join', ':') | join(',') }}]

  - job_name: impala_catalogd
    scrape_interval: 60s
    scheme: https
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['impala_catalog'] | product([ impala_prometheus_port.catalogd ]) | map('join', ':') | join(',') }}]

  - job_name: impala_statestored
    scrape_interval: 60s
    scheme: https
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['impala_statestore'] | product([ impala_prometheus_port.statestored ]) | map('join', ':') | join(',') }}]
          
{% if zookeeper_metrics_enabled %}      
  - job_name: zookeeper
    scrape_interval: 60s
    metrics_path: /metrics
    static_configs: 
      - targets: [{{ groups['zookeeper'] | product([ zookeeper_metrics_port ]) | map('join', ':') | join(',') }}]
      
{% endif %}

  - job_name: hdfs_namenode
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ (groups['hdfs_primary_nn'] | union(groups['hdfs_secondary_nn'])) | product([ hadoop_prometheus_port.hdfs_namenode ]) | map('join', ':') | join(',') }}]
  
  - job_name: hdfs_datanode
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['hadoop'] | product([ hadoop_prometheus_port.hdfs_datanode ]) | map('join', ':') | join(',') }}]
  
  - job_name: hdfs_journalnode
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['hdfs_journalnode'] | product([ hadoop_prometheus_port.hdfs_journalnode ]) | map('join', ':') | join(',') }}]
  
  - job_name: yarn_resourcemanager
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['yarn_resource_mgr'] | product([ hadoop_prometheus_port.yarn_resource_manager ]) | map('join', ':') | join(',') }}]

  - job_name: yarn_timelineserver
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['yarn_timelineserver'] | product([ hadoop_prometheus_port.yarn_timeline_server ]) | map('join', ':') | join(',') }}]

  - job_name: yarn_nodemanager
    scrape_interval: 30s
    scheme: http
    metrics_path: /
    static_configs: 
      - targets: [{{ groups['hadoop'] | product([ hadoop_prometheus_port.yarn_node_manager ]) | map('join', ':') | join(',') }}]


  