# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

# TLS and basic authentication configuration.
#
tls_server_config:
  cert_file: {{ tls_etc_dir }}/ssl.crt
  key_file: {{ tls_etc_dir }}/ssl.key

basic_auth_users:
  {{ prometheus_user }}: {{ prometheus_password_hash.stdout }}