<h1 class="display-6">Docker</h1>
<p>
Use <a href="https://joxit.dev/docker-registry-ui/">Docker Registry UI</a> to manage the Docker images in the Docker repository on the manager host.
</p>
<br>
<p>
<table class="table table-hover">
  <tr>
    <th>Service</th>
    <th>Host</th>
  </tr>
    {% for host in groups['manager'] %}
    <tr>
      <td>Docker Registry UI</td>
      <td><a href="https://{{ host }}:{{ docker_registry_ui_port }}" target="_blank">{{ host }}</a></td>
    </tr>
    {% endfor %}
</table>
