<h1 class="display-6">Jupyterhub</h1>
<p>
<a href="https://jupyter.org/hub">Jupyterhub</a> A multi-user version of the notebook designed for companies, classrooms and research labs
</p>
<p>
You are automatically logged-in if an active Kerberos session is detected. Kerberos principal admin@{{ kerberos_realm }} is the default Hue administrator.
</p>
<table class="table table-hover">
  <tr>
    <th>Service</th>
    <th>Host</th>
  </tr>
    {% for host in groups['jupyterhub'] %}
    <tr>
     <td>Hue</td>
      <td><a href="https://{{ host }}:{{ jupyterhub_port }}" target="_blank">{{ host }}</a></td>
    </tr>
    {% endfor %}
</table>
