<div class="row">
  <h1 class="display-6">Livy</h1>
  <p>
  <a href="https://livy.apache.org/">Apache Livy</a> is a service that enables easy interaction with a Spark cluster over a REST interface. It enables easy submission of Spark jobs or snippets of Spark code, synchronous or asynchronous result retrieval, as well as Spark Context management, all via a simple REST interface or an RPC client library. Apache Livy also simplifies the interaction between Spark and application servers, thus enabling the use of Spark for interactive web/mobile applications. 
  </p>
  <p>
  Use Hue to start a Spark context using Livy, the Livy web interface can be used to debug the Spark job.
  </p>
  <table class="table table-hover">
    <tr>
      <th>Service</th>
      <th>Host</th>
    </tr>
      {% for host in groups['livy'] %}
      <tr>
        <td>Livy</td>
        <td><a href="https://{{ host }}:8998/ui" target="_blank">{{ host }}</a></td>
      </tr>
      {% endfor %}
  </table>
</div