<h1 class="display-6">Superset</h1>
<p>
<a href="https://superset.apache.org/">Apache Superset</a> is a modern data exploration and visualization platform
</p>
<p>
Superset is fast, lightweight, intuitive, and loaded with options that make it easy for users of all skill sets to explore and visualize their data, from simple line charts to highly detailed geospatial charts.
</p>
<table class="table table-hover">
  <tr>
    <th>Service</th>
    <th>Host</th>
  </tr>
    {% for host in groups['superset'] %}
    <tr>
     <td>Superset</td>
      <td><a href="https://{{ host }}:{{ superset_port }}" target="_blank">{{ host }}</a></td>
    </tr>
    {% endfor %}
</table>

<h4>Security</h4>
<p>
Superset does not use Kerberos for user authentication, all Superset users are saved in the Superset Postgresql database.
After installation login as user &quot;admin&quot; and password &quot;admin&quot;.
</p>
<br>
<h4>Creating an Impala database connection</h4>
<p>
Follow the steps below to create a new Impala database connection in Superset.
</p>

1) In the menu select Data -> Databases and then click add <q>+ Database button</q>.<br>
2) From the Supported databases list select <q>Apache Impala</q><br>
3) Enter the following URI in the <q>SQLAlchemy URI</q> field.<br>
<pre><code>
impala://arn2-rnd-entrada03-p.sidnlabs.nl:21050/default
</code></pre>

4) Switch to the <q>Advanced tab</q><br>
5) Under <q>SQL labs</q> check option <q>Expose database in SQL Lab</q><br>
6) Under <q>Other</q> add the following in the <q>Engine Parameters</q> field<br>

<pre><code>
{
	"connect_args": {
		"auth_mechanism": "GSSAPI",
		"use_ssl": true
	}
}
</code></pre>