# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}
# Hadoop conf dir: {{ hadoop_etc_dir }}

[Unit]
Description=Hadoop {{ item.name }}
After=network.target
StartLimitIntervalSec=0

[Service]
{% if item.name == 'datanode' %}
PermissionsStartOnly=True
# make sure hdfs socket for short-circuit reads is created
ExecStartPre=/usr/bin/mkdir -p /var/run/hdfs-sockets
ExecStartPre=/usr/bin/chown  {{ hadoop_os_user.hdfs }}:root /var/run/hdfs-sockets
ExecStartPre=/usr/bin/chmod 0755 /var/run/hdfs-sockets
Slice=hadoop_hdfs_datanode.slice
{% endif %}
Type=forking
User={{ hadoop_os_user.hdfs }}
Group={{ hadoop_os_group }}
ExecStart=/bin/bash -c '{{ stack_root }}/hadoop-latest/bin/start_hdfs_service.sh {{ item.name }} {{ item.env }}'
ExecStop=/bin/bash -c '. {{ hadoop_etc_dir }}/{{ item.env }}; {{ stack_root }}/hadoop-latest/bin/hdfs --daemon stop {{ item.name }}'
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target