# Created on {{ ansible_date_time.iso8601 }}
# Pushed to: {{  inventory_hostname }}

{% if ansible_distribution == "RedHat" %}
user nginx;
{% endif %}
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    server {
      listen {{ mgtm_console_port }} ssl;

      root {{ mgtm_console_content_dir }};
      index index.html index.htm;

      server_name {{ inventory_hostname }};
      
      ssl_certificate     {{ tls_etc_dir }}/{{ tls_remote_pub_chain }};
      ssl_certificate_key {{ tls_etc_dir }}/{{ tls_remote_priv_key }};

      location / {
       auth_basic "Restricted";
       auth_basic_user_file /etc/nginx/mgtm_console.htpasswd;
 
       default_type "text/html";
       try_files $uri.html $uri $uri/ =404;
      }
    }

}


