
tls_server_config:
  cert_file: {{ tls_etc_dir }}/{{ tls_remote_pub_chain }}
  key_file: {{ tls_etc_dir }}/{{ tls_remote_priv_key }}
basic_auth_users:
  {{ prometheus_node_exporter_user }}: {{ prometheus_node_exporter_password_hash.stdout }}